<a href="https://colab.research.google.com/github/tina3860/EDA-Uber-Request/blob/main/SanFrancisco_Airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Use the San Fransico Airbnb listing dataset below to generate some plots using the Matplotlib library in Python.

Recommended columns are:

neighbourhood, room_type ,price, minimum_nights ,number_of_reviews ,reviews_per_month ,availability_2019

Use your discernment to choose the variable for the visualization as well as the type of visualization.

san_francisco.csvDownload san_francisco.csv

Submission:

Summit two plots (saved as images) along with your Python code.

Make sure to label the plots appropriately and in a professional way.

# Upload Data

In [30]:
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv('/content/drive/MyDrive/School/grad/2024/Fall 24/Data Visualization for Business/Quiz 2/san_francisco.csv')

# About the data

This data is a San Francisco Airbnb listing for 2018 and 2019 that details information about location, pricing, review and more. The data is comprised of floats, ints, and objects. There are over 7000 records with 'days_occupied_in_2018' and 'reviews_per_month' with some missing values.

In [32]:
df.head()

,Unnamed: 0,id,neighbourhood,latitude,longitude,room_type,price,days_occupied_in_2018,minimum_nights,number_of_reviews,reviews_per_month,availability_2019
0,0,958,Western Addition,37.769310,-122.433856,Entire home/apt,170,213.0,1,172,1.51,74
1,1,5858,Bernal Heights,37.745112,-122.421018,Entire home/apt,235,0.0,30,112,0.96,365
2,2,7918,Haight Ashbury,37.766690,-122.452505,Private room,65,0.0,32,17,0.15,365
3,3,8142,Haight Ashbury,37.764872,-122.451828,Private room,65,0.0,32,8,0.15,365
4,4,8339,Western Addition,37.775249,-122.436374,Entire home/apt,785,276.0,7,27,0.24,89

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7072 entries, 0 to 7071
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             7072 non-null   int64
 1   id                     7072 non-null   int64
 2   neighbourhood          7072 non-null   object
 3   latitude               7072 non-null   float64
 4   longitude              7072 non-null   float64
 5   room_type              7072 non-null   object
 6   price                  7072 non-null   int64
 7   days_occupied_in_2018  2999 non-null   float64
 8   minimum_nights         7072 non-null   int64
 9   number_of_reviews      7072 non-null   int64
 10  reviews_per_month      5744 non-null   float64
 11  availability_2019      7072 non-null   int64
dtypes: float64(4), int64(6), object(2)
memory usage: 663.1+ KB

In [34]:
df.describe()

,Unnamed: 0,id,latitude,longitude,price,days_occupied_in_2018,minimum_nights,number_of_reviews,reviews_per_month,availability_2019
count,7072.000000,7.072000e+03,7072.000000,7072.000000,7072.000000,2999.000000,7.072000e+03,7072.000000,5744.000000,7072.000000
mean,3535.500000,1.552127e+07,37.765950,-122.430704,212.993920,181.571190,1.415635e+04,43.247031,1.932739,164.262585
std,2041.654884,9.777300e+06,0.022484,0.026684,333.335336,128.782279,1.189129e+06,71.176549,2.038795,133.190595
min,0.000000,9.580000e+02,37.705088,-122.513065,0.000000,0.000000,1.000000e+00,0.000000,0.010000,0.000000
25%,1767.750000,6.329633e+06,37.751316,-122.443053,100.000000,38.000000,2.000000e+00,1.000000,0.357500,40.000000
50%,3535.500000,1.672918e+07,37.767871,-122.425435,150.000000,208.000000,4.000000e+00,12.000000,1.140000,137.000000
75%,5303.250000,2.386414e+07,37.784606,-122.411558,232.250000,298.000000,3.000000e+01,54.000000,2.920000,308.000000
max,7071.000000,3.055228e+07,37.810306,-122.370427,9999.000000,364.000000,1.000000e+08,649.000000,12.000000,365.000000

# Cleaning Data

Only two columns contain null values. Only the 'days_occupied_in_2018' column is less than the threshold, so it can be removed. Then tranformed the 'reviews_per_month' column's data type from float to int to turn it into a whole number, as it makes more sense to have a whole number of reviews in a month.

In [35]:
#making copy of df
copy = pd.read_csv('/content/drive/MyDrive/School/grad/2024/Fall 24/Data Visualization for Business/Quiz 2/san_francisco.csv')

#figure out how manu Null values
print(df.isna().sum())
#create threshold
threshold = len(df) * 0.5
print("threshold: " +str(threshold))

#compare threshold to columns to decide to drop
cols_to_drop = df.columns[df.isna().sum() >= threshold]
print("cols_to_drop: " + str(cols_to_drop))

#drop days_occupied_in_2018
df = df.drop('days_occupied_in_2018', axis=1)

Unnamed: 0                  0
id                          0
neighbourhood               0
latitude                    0
longitude                   0
room_type                   0
price                       0
days_occupied_in_2018    4073
minimum_nights              0
number_of_reviews           0
reviews_per_month        1328
availability_2019           0
dtype: int64
threshold: 3536.0
cols_to_drop: Index(['days_occupied_in_2018'], dtype='object')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7072 entries, 0 to 7071
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         7072 non-null   int64
 1   id                 7072 non-null   int64
 2   neighbourhood      7072 non-null   object
 3   latitude           7072 non-null   float64
 4   longitude          7072 non-null   float64
 5   room_type          7072 non-null   object
 6   price              7072 non-null   int64
 7   minimum_nights     7072 non-null   int64
 8   number_of_reviews  7072 non-null   int64
 9   reviews_per_month  5744 non-null   float64
 10  availability_2019  7072 non-null   int64
dtypes: float64(3), int64(6), object(2)
memory usage: 607.9+ KB

In [37]:
#find unique values
print(df.nunique())

Unnamed: 0           7072
id                   7072
neighbourhood          36
latitude             7072
longitude            7072
room_type               3
price                 465
minimum_nights         49
number_of_reviews     372
reviews_per_month     783
availability_2019     366
dtype: int64

In [38]:
#round reviews_per_month into whole number
df['reviews_per_month'].round()

df['reviews_per_month'].fillna(0,inplace=True)

#change reviews_per_month into int datatype
df['reviews_per_month'] = df['reviews_per_month'].astype(int)

In [39]:
df['reviews_per_month']

0       1
1       0
2       0
3       0
4       0
       ..
7067    0
7068    0
7069    0
7070    0
7071    0
Name: reviews_per_month, Length: 7072, dtype: int64

In [44]:
#convert neighborhood to string dtype
df['neighbourhood'] = df['neighbourhood'].astype(str)

In [43]:
df.dtypes

Unnamed: 0             int64
id                     int64
neighbourhood         object
latitude             float64
longitude            float64
room_type             object
price                  int64
minimum_nights         int64
number_of_reviews      int64
reviews_per_month      int64
availability_2019      int64
dtype: object

# EDA

In [41]:
#does location effect pricing? using neighbourhood and price columns
#based off per night
print(df['neighbourhood'].unique())



#horizontal bar chart
#plt.barh(df['neighbourhood'],df['price'])
#plt.title('Location Pricing based on Neighborhood')
#plt.xlabel('Price')
#plt.ylabel('')

['Western Addition' 'Bernal Heights' 'Haight Ashbury' 'Mission'
 'Potrero Hill' 'Nob Hill' 'Marina' 'Downtown/Civic Center'
 'Castro/Upper Market' 'Inner Sunset' 'South of Market' 'Noe Valley'
 'Presidio Heights' 'Outer Richmond' 'Glen Park' 'Twin Peaks' 'Ocean View'
 'Pacific Heights' 'Financial District' 'Russian Hill' 'Outer Sunset'
 'North Beach' 'Inner Richmond' 'Excelsior' 'Seacliff' 'Chinatown'
 'West of Twin Peaks' 'Bayview' 'Diamond Heights' 'Outer Mission'
 'Parkside' 'Golden Gate Park' 'Lakeshore' 'Crocker Amazon'
 'Visitacion Valley' 'Presidio']

In [42]:
#does the number of reviews reflect availbility? using number_of_reviews and availibility_2019